@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
:root {
  --mobile-margin: 16px;
  --mobile-nav-height: 44px;

  --mobile-icon-size: 24px;
  --mobile-font-size: 14px;

  --border-color: #d8d8d8;
  --action-color: #0095f6;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  color: rgba(38, 38, 38, 1);
  font-size: var(--mobile-font-size);
}
html {
  height: 100%;
}

body {
  height: 100%;
}

#root {
  height: 100%;
}

a {
  text-decoration: none;
}

.nav,
.create-post__nav,
.details__nav,
.signup__nav,
.signup-name__nav,
.profile__nav,
.followers__nav {
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color);
  padding: 0 var(--mobile-margin);
}

.bttmNav {
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid var(--border-color);
  background-color: white;
}

.nav,
.bttmNav,
.create-post__nav,
.details__nav,
.signup__nav,
.signup-name__nav,
.profile__nav,
.followers__nav {
  display: flex;
  height: var(--mobile-nav-height);
}

.nav > *,
.bttmNav > *,
.create-post__nav > *,
.details__nav > *,
.signup__nav > *,
.signup-name__nav > *,
.profile__nav > *,
.followers__nav > * {
  align-self: center;
}

.nav__photo,
.nav__msg,
.bttmNav__home,
.bttmNav__search,
.bttmNav__upload,
.bttmNav__activity,
.bttmNav__profile {
  height: var(--mobile-nav-height);
  display: flex;
  align-items: center;
  line-height: 0;
}

.bttmNav__home,
.bttmNav__search,
.bttmNav__upload,
.bttmNav__activity,
.bttmNav__profile {
  display: flex;
  justify-content: center;
  flex: 1;
}

.icon {
  max-height: var(--mobile-icon-size);
}

.nav__logo {
  display: flex;
  height: var(--mobile-nav-height);
  margin-top: 6px;
}

.nav__logo-link {
  align-self: center;
  line-height: 0;
}

.nav__logo-img {
  max-height: var(--mobile-icon-size);
}

/* ==================================== */
/*               /POST                   */
/* ==================================== */

.post {
  margin-bottom: 15px;
}

.post__owner {
  display: flex;
  padding: 14px 4px 14px 16px;
}

.post__owner-img {
}

.post__owner-pfp {
  width: 32px;
  height: 32px;
}

.post__owner-handle {
  margin-left: 12px;
  align-self: center;
  margin-bottom: 3px;
  font-weight: bold;
}

.post__img {
  min-height: 275px;
  background-color: #d8d8d8;
}

.post__interact {
  padding: 0 16px;
}

.post__engage {
  display: flex;
  padding: 6px 8px 8px;
  margin-top: 4px;
}

.post__engage-like,
.post__engage-comment,
.post__engage-share {
  padding: 8px;
  line-height: 0;
}

.post__likes {
  margin-bottom: 8px;
  font-weight: bold;
}

.post__body-desc {
  display: flex;
  margin-bottom: 4px;
}

.post__body-owner,
.post__comment-owner {
  padding-right: 4px;
  font-weight: bold;
}

.post__comment {
  display: flex;
}

/* ==================================== */
/*               /Create                */
/*               /Details               */
/* ==================================== */
.create-post__nav-close,
.details__nav-back,
.signup__nav-back,
.signup-name__nav-back,
.profile__nav-settings,
.profile__nav-discover,
.followers__nav-back {
  line-height: 0;
}

.create-post__nav-title,
.details__nav-title,
.signup__nav-title,
.signup-name__nav-title,
.profile__nav-handle,
.followers__nav-title {
  font-weight: bold;
  font-size: 16px;
}

.create-post__nav-next,
.details__nav-share {
  color: var(--action-color);
  font-weight: bold;
  font-size: 16px;
  border: none;
  background: 0;
}

.create-post__img {
  height: 375px;
  background-color: #d8d8d8;
}

.create-post__edit-options {
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid var(--border-color);
  background-color: white;
  height: var(--mobile-nav-height);
  display: flex;
  justify-content: space-around;
}

.create-post__edit-options > * {
  align-self: center;
}

.create-post__filter,
.create-post__edit {
  background: 0;
  border: 0;
  height: 100%;
  width: 100%;
}

.create-post__filter {
  border-right: 1px solid var(--border-color);
}

.create-post__edit {
  border-right: 1px solid var(--border-color);
}

.details {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.details__focus {
  flex-grow: 1;
}

.details__caption {
  width: 100%;
  height: 81px;
  padding: 16px;
  border-bottom: 1px solid var(--border-color);
}

.details__caption-input {
  width: 100%;
  border: none;
  outline-style: none;
  resize: none;
  height: 45px;
  line-height: 18px;
}

.text-focus {
  background-color: rgba(38, 38, 38, 0.4);
}

.signup__nav-back,
.signup-name__nav-back,
.followers__nav-back {
  flex-basis: 32px;
}

.signup__nav-dummy,
.followers__nav-dummy {
  flex-basis: 32px;
}

.signup__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 50vh;
  margin: 24px 40px 0 40px;
}

.signup__body-title {
  border-bottom: 1px solid rgba(38, 38, 38, 1);
  font-weight: bold;
  height: 44px;
  line-height: 44px;
  text-align: center;
  width: 100%;
}

.signup__body-input-container {
  width: 100%;
  margin: 16px 0 8px;
}

.signup__body-input {
  width: 100%;
  padding: 4px 9px;
  background-color: rgba(250, 250, 250, 1);
  line-height: 30px;
  border: 1px solid rgba(219, 219, 219, 1);
  border-radius: 6px;
  outline-color: rgba(200, 200, 200, 1);
  outline-offset: 1px;
}

.signup__body-btn,
.signup-name__body-btn {
  margin: 16px 0;
  color: #fff;
  background-color: rgba(0, 149, 246, 0.3);
  font-weight: bold;
  border: none;
  padding: 12px 18px;
  border-radius: 6px;
}

.signup__body-btn-active,
.signup-name__body-btn-active {
  background-color: var(--action-color);
}

.signup__body-input-invalid,
.signup-name__body-invalid {
  color: rgba(237, 73, 86, 1);
}

.signup-name__body {
  display: flex;
  flex-direction: column;
  margin: 24px 40px 0 40px;
  padding-bottom: 50vh;
}

.signup-name__body-title {
  font-weight: bold;
  text-align: center;
  margin-bottom: 16px;
}

.signup-name__body-subtitle {
  text-align: center;
  color: rgba(142, 142, 142, 1);
  margin-bottom: 16px;
}

.signup-name__body-name,
.signup-name__body-password {
  width: 100%;
  padding: 4px 9px;
  background-color: rgba(250, 250, 250, 1);
  line-height: 30px;
  border: 1px solid rgba(219, 219, 219, 1);
  border-radius: 6px;
  outline-color: rgba(200, 200, 200, 1);
  outline-offset: 1px;
  margin-bottom: 8px;
}

/* ==================================== */
/*               /PROFILE               */
/* ==================================== */

.profile__head-func {
  width: 100%;
}

.profile__head-pfp {
  width: 77px;
  margin-right: 28px;
}

.profile__head {
  display: flex;
  margin: 16px 16px 16px 24px;
}

.profile__head-title {
  display: flex;
  margin-bottom: 12px;
  align-items: center;
}

.profile__head-handle {
  font-size: 28px;
  font-weight: 300;
}

.profile__head-settings {
  padding: 8px;
  margin-left: 5px;
}

.profile__head-edit {
  width: 100%;
  border: solid 1px rgba(219, 219, 219, 1);
  color: rgba(38, 38, 38, 1);
  background-color: transparent;
  border-radius: 4px;
  padding: 5px 9px;
}

.profile__desc {
  padding: 0 16px 21px;
}

.profile__stats {
  display: flex;
  justify-content: space-around;

  border: solid 1px var(--border-color);
  border-left: none;
  border-right: none;
  padding-left: 12px;
}

.profile__stats-numposts,
.profile__stats-followers,
.profile__stats-following {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #8e8e8e8e;
  padding: 12px 4px;
}
.profile__stats-numposts-num,
.profile__stats-followers-num,
.profile__stats-following-num {
  font-weight: bold;
}

.profile__post-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 48px;
  line-height: 0;
  border-bottom: solid 1px var(--border-color);
}

.profile__post-nav-feed-img {
  height: 24px;
}

.profile__no-posts {
  margin: 60px 44px;
  text-align: center;
}

.profile__no-posts-title {
  font-size: 28px;
  font-weight: 300;
  margin: 24px;
}

.login {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 60px;
}

.login__wrapper {
  display: flex;
  justify-content: center;
}

.login__login-home {
  max-width: 350px;
}

.login__home {
  max-width: 100%;
  padding-top: 152px;
}

.login__title {
  margin: 22px auto 12px;
}

.login__title-logo {
  width: 175px;
}

.login__desc {
  margin: 4px 40px 0 40px;
  color: rgba(142, 142, 142, 1);
}

.login__app {
  margin: 16px 40px 0 40px;
}

.login__prompts {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.login__app-btn {
  background-color: rgba(0, 149, 246, 1);
  color: #fff;
  padding: 12px 18px;
  width: 100%;
  border: solid 1px transparent;
  border-radius: 4px;
  font-weight: bold;
}

.login__or {
  margin: 0 4px;
}

.login__login-btn,
.login__signup-btn {
  color: rgba(0, 149, 246, 1);
  background-color: transparent;
  border: none;
  font-weight: bold;
}

.login__login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
}

.login__inputs {
  display: flex;
  flex-direction: column;
}

.login__name-wrapper,
.login__password-wrapper {
  margin: 0 40px 6px;
  border: 1px solid var(--border-color);
  padding-right: 8px;
  border-radius: 3px;
}

.login__name,
.login__password {
  width: 100%;
  padding: 9px 0 7px 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  border: none;
  outline: none;
  font-size: 12px;
}

.login__forgot {
  margin: 8px 0;
  display: flex;
  justify-content: flex-end;
  color: rgba(0, 149, 246, 1);
}

.login__btn {
  background-color: rgba(0, 149, 246, 0.3);
  color: #fff;
  padding: 5px 9px;
  width: 100%;
  border: solid 1px transparent;
  border-radius: 4px;
  font-weight: bold;
  margin: 8px 0;
}

.login__btn-active {
  background-color: rgba(0, 149, 246, 1);
}

.login__func {
  display: flex;
  flex-direction: column;
  margin: 0 40px;
}

.login__register {
  margin: 8px 0;
  display: flex;
  justify-content: center;
}

.login__register-text {
  color: rgba(142, 142, 142, 1);
  margin-right: 4px;
}

.feed__0follows {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 152px 16px;
}

.feed__0follows-title {
  font-size: 18px;
  margin-bottom: 8px;
  font-weight: 300;
}

.feed__0follows-text {
  color: rgba(142, 142, 142, 1);
}

.profile__head-actions {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.profile__head-msg {
  border: solid 1px rgba(219, 219, 219, 1);
  color: rgba(38, 38, 38, 1);
  background-color: transparent;
  border-radius: 4px;
  padding: 5px 25px;

  font-weight: bold;
}

.profile__head-follow {
  border: solid 1px rgba(219, 219, 219, 1);
  color: #fff;
  background-color: var(--action-color);
  padding: 7px 12px;
  border-radius: 4px;
  line-height: 14px;
  font-weight: bold;
}

.profile__head-unfollow {
  border: solid 1px rgba(219, 219, 219, 1);
  color: #fff;
  padding: 7px 12px;
  border-radius: 4px;
  line-height: 14px;
  font-weight: bold;
}

.profile__head-more {
  border: solid 1px rgba(219, 219, 219, 1);
  padding: 9px 12px;
  border-radius: 4px;
  line-height: 0;
}

.profile__header {
  display: flex;
  flex-direction: column;
}

.follower {
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
}

.follower__content {
  display: flex;
}

.follower__pfp {
  margin-right: 12px;
}

.follower__pfp-img {
  width: 30px;
  height: 30px;
}

.follower__main {
  display: flex;
  flex-direction: column;
}

.follower__main-title {
  display: flex;
  flex: 0 0 auto;
}

.follower__main-seperate {
  padding: 0 4px;
}

.follower__main-handle {
  font-weight: bold;
}

.follower__main-name {
  color: rgba(142, 142, 142, 1);
}

.follower__remove {
  font-weight: bold;
  padding: 5px 9px;
  background-color: transparent;
  border: 1px solid rgba(219, 219, 219, 1);
}
